$something: true;
@invalid-at $something {
  .conditional {
    color: blue;
  }
}

.class {
  color: red;

  .subclass {

    color: #ab1;
  } .subclass2 {
    color: #ABCDEF;
  }
}

.inline { font-weight: bold; color: magenta; text-decoration: none; }
